*{
  box-sizing:border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #7c8df3;
  border:0;
}

.navbar-brand h1 {
  color: #341901;
  font-weight: bold;
  margin-top:0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand {
    height:75px;
}

#nav-list {

  margin-top: 0;
  margin-bottom: 0;
}
#nav-list li {
  color: #951c49;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding:10px;
}

#collapsable-nav {
  font-weight: bold;
  border-color: #000;
  background-color:#fec1c1;
}
.navbar-header button.navbar-toggle {
  border:2px solid #222;
  background-color: #634747;
}

#main-content-heading {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}
#section-title {
  text-transform: uppercase;
  font-size:1.5em;
  margin-bottom: 15px;
}
 #menu-category {
  background-color: grey;
  margin-bottom:20px;
  border:1px solid #222;
  }
#menu-category p {
  padding-right: 15px;
  padding-left: 15px;
   }

@media (min-width: 1200px) {
    .col-md-4 {
      width:360px;
      margin-right: 10px;
      margin-left: 10px;
        }
    }
@media (min-width:992px) and (max-width: 1199px) {
  .col-md-4 {
    width: 303.33px;
    margin-right: 5px;
    margin-left: 5px;

  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-6{
      width:328px;
      margin-right: 10px;
      margin-left: 10px;
  }
  .col-sm-12 {
    width:676px;
    margin-left: 10px;
  }

}
   